@import url("./global.css");

*{
    border: 0; /* borda do projeto -> Zerado*/
    margin: 0;  /* Distância externa -> Zerado*/
    padding: 0;  /* Espaçamento interno -> Zerado*/
    box-sizing: border-box;  /* Respeitar largura e altura*/
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid white;
}

.navigation-header li{
    color: white;
    list-style: none;
}

.navigation-header ul{
    display: flex;
    gap: 40px;
}

.navigation-header a{
    color: var(--color-white);
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    border-radius: 999px;
    font-weight: 700;
}

.btn-try {
    background: var(--green);
    color: var(--color-gray-4);
    box-shadow: var(--color-gray-4);
}
