@import url(global.css);

.section-blockchain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
}

.blockchain-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.blockchain-head span {
    color: var(--color-green);
    border: 1px solid var(--color-gray-3);
    border-radius: 24px;
    padding: 12px 20px;
    transition: 0.3s;
}

.blockchain-head span:hover {
    transform: translateY(-3px);
    border: 1px solid var(--color-green);
}

.blockchain-head h2 {
    color: var(--color-white);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-title-2);
    font-weight: var(--font-weight-title-2);
}

.blockchain-head p {
    color: var(--color-gray-1);
    font-size: var(--font-size-text-2);
    font-weight: var(--font-weight-text-2);
    width: 644px;
    text-align: center;
}

.blockchain-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.blockchain-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.blockchain-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 624px;
    gap: 24px;
    padding: 30px 20px;
    border-radius: 20px;
    border: 1px solid var(--color-gray-1);
    background-color: var(--color-gray-4);
    transition: 0.4s;
}

.blockchain-card:hover {
    transform: translateX(5px);
    border: 1px solid var(--color-green);
}

.blockchain-body img {
    transition: 0.3s;
}

.blockchain-body img:hover {
    transform: rotate(2deg)
}

.blockchain-card div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blockchain-card div h3 {
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
    font-family: var(--font-family-primary);
}

.blockchain-card div p {
    color: var(--color-gray-1);
    font-size: var(--font-size-text-1);
    font-weight: var(--font-size-text-1);
    font-family: var(--font-family-primary);
}
