*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-green: #9DFF3A;
	--color-white: #E5E5E5;
	--color-gray-1: #999999;
	--color-gray-2: #4D4D4D;
	--color-gray-3: #2E2E2E;
	--color-gray-4: #0F0F0F;

    --font-family-primary:"Alexandria", sans-serif;
    --font-family-secondary: "Inter", sans-serif;

    --font-size-title-1: 64px;
    --font-size-title-2: 48px;
    --font-size-title-3: 40px;
    
    --font-size-subtitle: 20px;
    --font-size-buttom: 18px;
    --font-size-text-1: 16px;
    --font-size-text-2: 14px;
    --font-size-caption: 12px; 
    
    --font-weight-title-1: 700;
	--font-weight-title-2: 400;
	--font-weight-title-3: 400;
	--font-weight-subtitle: 400;
	--font-weight-button: 400;
	--font-weight-text-1: 400;
	--font-weight-text-2: 400;
	--font-weight-caption: 400;
}
