@import url("./global.css");

/* Section-Statistics */
.section-Statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
    background-color: var(--color-gray-4);
    font-family: var(--font-family-primary);
    color: var(--color-white);
}

.Statistics-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 704px;
}

.Statistics-information span {
    color: var(--color-green);
    font-size: var(--font-size-text-2);
    padding: 12px 20px;
    border: 1px solid var(--color-gray-3);
    border-radius: 24px;
}

.Statistics-information h2{
    font-size: var(--font-size-title-2);
    font-weight: var(--font-weight-title-2);
}

.Statistics-information p{
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-buttom);
    font-weight: var(--font-weight-subtitle);
    color: var(--color-gray-1);
    text-align: center;
    width: 644px;
}

.container-Statistics{
    display: flex;
    gap: 72px;
}

.container-Statistics .Statistics-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Statistics-details h3{
    color: var(--color-green);
    font-size: var(--font-size-title-2);
    font-weight: var(--font-weight-title-2);
}

.Statistics-details p{
    color: var(--color-gray-1);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
}